@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }

  body {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
    font-weight: 400;
  }
  input::placeholder {
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

@layer components {
  .multiform {
    /* height: 100vh; */
  }
  .form-ct {
    /* height: 100vh; */
  }
  /* REUSABLE COMPONENTS */
  .btn {
    @apply px-3 py-2 bg-Marine-blue font-bold text-xs text-Magnolia rounded-md sm:text-base;
  }
  .active-btns-cont {
  }
  .status-btns-ct {
    /* background-color: orange; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 65%;
  }

  .label {
    @apply font-medium text-xs text-Marine-blue sm:text-base sm:mb-3 sm:block;
  }

  .input-ct {
    @apply border-[1px] border-Light-gray py-1 px-4 sm:py-2 sm:px-5 rounded-md w-full;
  }
  .check-input {
    display: none;
  }
  .check-input:checked + .checks-label {
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(213, 96%, 18%);
  }
  .checks-label {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid hsl(229, 24%, 87%);
  }

  .check-btn-header {
    @apply text-Marine-blue font-bold text-lg;
  }
  .check-pricet {
    @apply text-Cool-gray font-medium;
  }

  /* Code for the toggling button */
  .toggle-inpt {
    display: none;
  }
  .toggle-inpt:checked + .toggle-bg-item::before {
    transform: translateX(1.6rem);
  }
  .toggle-bg-item {
    position: relative;
    padding-block: 0.2rem;
    padding-inline: 1.5rem;
    border-radius: 100rem;
    background-color: hsl(213, 96%, 18%);
  }
  .toggle-bg-item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(0);
    transition: all 0.4s;
  }
  .year,
  .month {
    color: hsl(231, 11%, 63%);
  }

  .selected-time {
    color: hsl(213, 96%, 18%);
  }

  .year-tplus {
    display: none;
    font-size: 0.8rem;
    color: hsl(213, 96%, 18%);
    transition: all 0.2s;
  }

  .addon-item {
  }
  .addon-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 8px;
  }
  .addon-input {
    display: none;
  }
  .addon-input:checked + .addon-label {
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(243, 100%, 62%);
  }
  /* .add-txt {
    font-size: 1rem;
    line-height: 1.2;
  } */
  /* .tabs-forms {
    overflow: hidden;
    position: relative;
    display: block;
    height: 75vh;
  }
  .tab {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    /* margin: 2rem; */
  /* height: 50rem; */
  height: auto;

  /* THIS creates the animation! 
    transition: transform 1s;
  }*/
  .dot {
    @apply px-4 py-2 rounded-[50%] border border-Pastel-blue max-w-60 font-bold text-White;
  }
  .dot--active {
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
  }
  .tabs-forms {
    position: relative;
    display: grid;
    /* background-color: orange; */
    overflow: hidden;
  }
  .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: green; */
    background-color: #fff;

    transition: all 0.4s ease;
  }
}
